body{
    padding: 0px;
    margin: 0px;
}
.gridcontainer{
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-areas: "header header"
                         "content sidebar"
                         "footer footer";   
    grid-template-rows: minmax(10%,100px) minmax(80%,auto) minmax(10%,100px);
    grid-template-columns: 70% 30%;
    ;
}
.header{
    grid-area: header;
    border: 1px solid dodgerblue;
}
.content{
    border: 1px solid maroon;
    grid-area: content;

}
.sidebar{
    border: 1px solid green;
    grid-area: sidebar;
}
.footer{
    border: 1px solid dodgerblue;
   grid-area: footer;
}
/* [data-type="primary"]{
    color: darkcyan;
} */
div > h1{
    color: aqua;
}
div :is(.sidebar,.footer,.header,.content)
{
    background-color: antiquewhite;
}
div :not(.sidebar)
{
    background-color: white !important;
}
.content::first-letter{
    color: blue;
    float: left;
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
    margin-inline-end: 0.2rem;
  

}
.parent{
    width: 500px;
    height: 500px;
    border: 1px solid red;
    overflow: scroll;
}